<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pdbs3.csp8.cspapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pdbs3.csp8.cspapp.MainActivity"
            android:label="CSP App"
            android:parentActivityName="pdbs3.csp8.cspapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pdbs3.csp8.cspapp.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pdbs3.csp8.cspapp.ItemListActivity"
            android:label="@string/title_item_list"
            android:parentActivityName="pdbs3.csp8.cspapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pdbs3.csp8.cspapp.MainActivity" />
        </activity>
        <activity
            android:name="pdbs3.csp8.cspapp.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="pdbs3.csp8.cspapp.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pdbs3.csp8.cspapp.ItemListActivity" />
        </activity>
        <activity android:name="pdbs3.csp8.cspapp.NewActivity" />
        <activity
            android:name="pdbs3.csp8.cspapp.ClassifierActivity"
            android:label="Classify"
            android:parentActivityName="pdbs3.csp8.cspapp.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pdbs3.csp8.cspapp.MainActivity" />
        </activity>

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0" />
        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
    </application>

</manifest>